@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div>
    <!--BEGIN HIDDEN FIELDS AREA-->
    <!--END HIDDEN FIELDS AREA-->


    <!--BEGIN SEARCH FIELDS AREA-->
    <div calss="panel panel-primary ">
        <div class="panel-heading">
            <h1 class="panel-title">Search for Products</h1>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label text="Product Name" id="ProductName">Product Name</label>
                <input type="text" id="ProductSearch" class="form-control" placeholder="Search for Product"/>
            </div>

        </div>
        <div class="panel-footer">
            <button type="button" id ="btnSearch" class="btn btn-sm btn-default">Search</button>
            <button type="reset" id="btnReset" class="btn btn-sm btn-default">Reset</button>
        </div>
    </div>
    <!--END SEARCH FIELDS AREA-->
    <p></p><p></p>
    <!--BEGIN LIST FIELDS AREA-->
    <div class="table-responsive">
        <table class="table-bordered table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Introduction Date</th>
                    <th>Url</th>
                    <th>Price</th>
                </tr>
            </thead>
        </table>
    </div>
    <!--END LIST FIELDS AREA-->
    

</div>

<!--Script Area-->


<script></script>